<div class="container">
        <h1>Registro</h1>
    <form id="registerForm">
    <label>Nombre</label>
    <input name="firstName">
    <br/>
    <label>Apellido</label>
    <input name="lastName">
    <br/>
    <label>Email</label>
    <input name="email">
    <br/>
    <label>Contraseña</label>
    <input name="password">
    <br/>
    <input type="submit">
</form>

        <!-- Botón para registrarse con GitHub -->

        <p>Registrarse con <a href="/api/sessions/github">Github</a></p>

        <p>¿Ya tienes una cuenta? <a href="/login">Iniciar Sesión</a></p>
    </div>


<script src="/js/register.js"></script>